@import "colors.styl"

@import "../../../node_modules/vuetify/src/stylus/main"

#app {
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .content>.container {
    padding: 1rem 3rem 0;
  }
}